.profile__info {
    display: flex;
    min-width: 336px;
    align-items: center;
    justify-content: space-between;
}

@media screen and (max-width: 410px) {
    .profile__info {
        min-width: 0px;
        flex-wrap: wrap;
        justify-content: center;
    }
}